# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# SQLite
*.db

# Virtual Environments
.venv/
venv/

# ==========================
# Node / React
# ==========================
node_modules/
dist/
build/

# npm
npm-debug.log*

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log